<!DOCTYPE html>
 <html style="overflow-y: scroll" xmlns="http://www.w3.org/1999/html">

    <head>

        <title>MYSITE</title>

    </head>

    <body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    {% block content %}{% endblock %}



    </body>

  </html>
