{% extends 'base.html' %}


{% block content %}

<div class='container'>

    <h3>Products</h3>

    <div class='row'>
        <form>
            <div class="input-field col s6">
                <input name='product' placeholder="Placeholder" type="text" id="name">
                <label for="name">Product Name</label>
            </div>

            <div class='col s6'>
                <button class="btn waves-effect waves-light" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </form>
    </div>

    <div class='row'>

        <table>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Delete
                </th>
            </tr>

            {% for p in PRODUCTS %}

                <tr>
                    <td>
                        {{ p.id }}
                    </td>
                    <td>
                        {{ p.name }}
                    </td>
                    <td>
                        {{ p.quantity }}
                    </td>
                    <td>
                        {{ p.price }}
                    </td>
                    <td>
                        <a href="{{ url_for('delete_product', id=p.id) }}">Delete</a>
                    </td>
                    <td>

                    </td>
                </tr>

            {% endfor %}

        </table>

    </div>

    <div class='row'></div>

    <div class='row'>
        <form method='POST'>
            <div class="input-field col s3">
                <input name='name' placeholder="Placeholder" type="text" id="name">
                <label for="name">Product Name</label>
            </div>
            <div class="input-field col s3">
                <input name='quantity' placeholder="Placeholder" type="text" id="quantity">
                <label for="name">Quantity</label>
            </div>
            <div class="input-field col s3">
                <input name='price' placeholder="Placeholder" type="text" id="price">
                <label for="name">Price</label>
            </div>

            <div class='col s3'>
                 <button class="btn waves-effect waves-light" type="submit">Create
                    <i class="material-icons right">send</i>
                 </button>
            </div>
        </form>
    </div>

</div>

{% endblock %}