{% extends 'base.html' %}
{% block content %}
<table>

    <tr>
        <th>
            Name
        </th>
        <th>
            Profession
        </th>
        <th>
            City
        </th>
    </tr>

    {% for p in PEOPLE %}

    <tr>
        <td>
            {{ p.name }}
        </td>
        <td>
            {{ p.profession }}
        </td>
        <td>
            {{ p.city }}
        </td>
        </tr>

    {% endfor %}


</table>
{% endblock %}
